@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Internetowe Bazy danych<br />
    Sebastian Łuczak<br />
    Numer indeksu: 376271
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:sebastian.luczak1@unilodz.eu">sebastian.luczak1@unilodz.eu</a><br />
</address>